* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

#toHideCnt {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    min-width: 100vw;
    background-image: url("./vd_background.jpg");
    background-size: cover;
    background-position: right;

    /* background-repeat: repeat-x; */
}
#toHideCnt:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    /* background-color: rgba(34, 34, 34, 0.5); */
}
#toHideCnt .content121 {
    position: relative;
    z-index: 1;
}
#toHideCnt .content121 h1 {
    color: #fff;
    font-size: 28px;
    font-weight: 900;
    text-shadow: -3px 3px 0 rgba(222, 17, 17, 0.924), -3px 3px 0 rgba(228, 19, 19, 0.924),3px -3px 0 rgba(246, 5, 5, 0.924),
        -3px -3px 0 rgba(72, 0, 0, 0.924);
}
#toHideCnt .content121 h1 span {
    font-weight: 400;
}
 #toHideCnt .content121 .countdown {
         text-shadow: -3px 3px 0 #f80202, 3px 3px 0 #f71919, 3px -3px 0 #e11515,
        -3px -3px 0 #640000;
    }
 #toHideCnt .content121 h2 {
         text-shadow: -4px 4px 0 #ff2525, 4px 4px 0 #fa0000, 4px -4px 0 #c90000,
        -4px -4px 0 #4e0000;
    }

@media screen and (min-width: 480px) {
    #toHideCnt .content121 h1 {
        font-size: 36px;
    }
}
@media screen and (min-width: 768px) {
    #toHideCnt .content121 h1 {
        font-size: 42px;
    }
}
@media screen and (min-width: 1024px) {
    #toHideCnt .content121 h1 {
        font-size: 56px;
    }
}
@media screen and (min-width: 1280px) {
    #toHideCnt .content121 h1 {
        font-size: 72px;
    }
}
#toHideCnt .content121 h2 {
    color: #fff;
    font-size: 42px;
    font-weight: 900;
    margin: 30px 0px;
}
@media screen and (min-width: 480px) {
    #toHideCnt .content121 h2 {
        font-size: 56px;
    }
}
@media screen and (min-width: 768px) {
    #toHideCnt .content121 h2 {
        font-size: 72px;
    }
}
@media screen and (min-width: 1024px) {
    #toHideCnt .content121 h2 {
        font-size: 96px;
    }
}
@media screen and (min-width: 1280px) {
    #toHideCnt .content121 h2 {
        font-size: 128px;
    }
}
#toHideCnt .content121 .countdown {
    color: #fff;
    font-size: 36px;
    font-weight: 400;
}
@media screen and (min-width: 480px) {
    #toHideCnt .content121 .countdown {
        font-size: 42px;
    }
}
@media screen and (min-width: 768px) {
    #toHideCnt .content121 .countdown {
        font-size: 56px;
    }
}
@media screen and (min-width: 1024px) {
    #toHideCnt .content121 .countdown {
        font-size: 72px;
    }
}
@media screen and (min-width: 1280px) {
    #toHideCnt .content121 .countdown {
        font-size: 88px;
    }
}
